@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: lightgray;
    width: 100%;
    height: 100%;
}

header {
    padding: 10px;
    background-color: grey;
    color: white;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
    margin-bottom: 5px;
    flex: 0 0 200px;
}

header > nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header > nav > a {
    text-decoration: none;
    background-color: black;
    color: white;
    text-align: center;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

header > nav > a:hover {
    background-color: white;
    color: black;
    transition: background-color .5s;
}

main {
    background-color: white;
    padding: 10px;
    margin: auto;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #0000006c;
}